name: Create Release on Tag

on:
  push:
    tags:
      - '*.*.*'

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
